{% extends 'layout.html.twig' %}

{% block title %} AdminNewsletters {% endblock %}

{% block content %}
<h2>La newsletters</h2>
<section>
<div>
    <label for="titreNewsletters">titre newsletters</label>
    <input type="text" name="titre_newsletters" required  class="form-control" placeholder="titre">
</div>
<div>
<!--en css, ajouter une bande noir derriere et centrer.
juste une idée ;)
-->
    <img src="../assets/images/logo.png">
</div>
<div>
    <label for="titreRubrique1">titre rubrique</label>
    <input type="text" name="titre_rubrique"  class="form-control" placeholder="titre">
</div>
<div>
    <label for="texteRubrique1">texte rubrique</label>
    <textarea class="form-control" required name="texte" rows="5"></textarea>
</div>
<div class="row">
<div class="col-6">
    <div>
        <label for="titreRubrique2">titre rubrique</label>
        <input type="text" name="titre_rubrique"  class="form-control" placeholder="titre">
    </div>
    <div>
        <label for="texteRubrique2">texte rubrique</label>
        <textarea class="form-control" name="texte" rows="5"></textarea>
    </div>
</div>
<div class="col-6">
    <div>
        <label for="titreRubrique3">titre rubrique</label>
        <input type="text" name="titre_rubrique"  class="form-control" placeholder="titre">
    </div>
    <div>
        <label for="texteRubrique3">texte rubrique</label>
        <textarea class="form-control" name="texte" rows="5"></textarea>
    </div>
</div>
<div class="col-6">
    <div>
     <div>
                <img src="https://www.arabamerica.com/wp-content/themes/arabamerica/assets/img/thumbnail-default.jpg" height=150 width=auto />
            </div>
            <div>
                    <input type="file" name="fileToUpload" class="form-control" placeholder="First name">
            </div>
        </div>
    </div>
    
<div class="col-6">
<div>
        <label for="texteRubrique4">texte rubrique</label>
        <textarea class="form-control" name="texte" rows="5"></textarea>
    </div>
    <div>
        <label for="titreRubrique4">titre rubrique</label>
        <input type="text" name="titre_rubrique"  class="form-control" placeholder="titre">
    </div>
    
</div>

</div>
<div align="right">
    <a href="/home/index" class="stretched-link">Strascook</a>
</div>
</section>
{%  endblock %}