{% extends 'layout.html.twig' %}

{% block title %} AdminNewsletters {% endblock %}

{% block content %}
<h2>La newsletters</h2>
<section>
<div>
    <label for="exampleFormControlTextarea1">titre</label>
    <input type="text" name="titre" required  class="form-control" placeholder="titre">
</div>
<div>
    <img src="../assets/images/logo.png">
</div>
<div>
    <label for="exampleFormControlTextarea1">texte</label>
    <textarea class="form-control" required name="texte" rows="10"></textarea>
</div>
<div>
    <label for="exampleFormControlTextarea1">titre</label>
    <input type="text" name="titre"  class="form-control" placeholder="titre">
</div>
<div>
    <label for="exampleFormControlTextarea1">texte</label>
    <textarea class="form-control" name="texte" rows="10"></textarea>
</div>
<div align="right">
    <a href="/home/index" class="stretched-link">Strascook</a>
</div>
</section>
{%  endblock %}