{% extends 'layout.html.twig' %}

{% block title %}
    Index
{% endblock %}
{% block image_url %}/assets/images/index.jpg{%  endblock %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="titre_index"><h1>Présentation</h1></div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-4 text-justify">
                <p>Le service de Strass'cook a été créé pour permettre de recevoir chez soi, autrement. Notre chef
                    vient chez vous et s'occupent de tout. Vous n'avez qu'à mettre les pieds sous la table et profiter
                    de vos convives, sans contrainte.
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-center"><img src="/assets/images/presentation.jpg"  alt="presentation" height="200"
                                            width="200"></p>
            </div>
            <div class="col-md-4 text-justify">
                <p>Le chef Gilles désirs répondre au attente de ses clients en leur proposant des plats savoureux et
                    convivial avec des plats fait avec des produits de super marché pour une somme de 20€ ou avec des
                    produits locaux, pour une somme de 30€.
                    </p>
            </div>
        </div>
    </div>
    <div class="menu">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="titre_menu"><h1>Menus</h1></div>
            </div>
        </div>

        <div class="row py-5">
            {% for menu in menus %}
            <div class="col-md-2 mx-auto">
                <div class="card">
                    <img class="menusimage" href="menu/show/{{ menus.id }}" src="{{ image.menus_id }}" class="card-img-top" alt="placeholder">
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row p-5">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-outline-light">Réservations</button>
            </div>
        </div>
    </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="titre_index"><h1>Partenariats</h1></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 mx-auto">
                <div>
                    <img src="/assets/images/amap1.png" alt="amap1" width="100" height="100">
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div>
                    <img src="/assets/images/amap2.png" alt="amap2" width="200" height="200">
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div>
                    <img src="/assets/images/amap3.png" alt="amap3" width="100" height="100">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
