{% extends 'layout.html.twig' %}

{% block title %}
    A propos
{% endblock %}
{% block image_url %}/assets/images/about.jpg{% endblock %}
{% block content %}
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="/assets/images/ribbon_propos.png"  alt="ribbon_propos" height="200" width="400">
            </div>
        </div>
            <div class="row">
                <div class="col-md-6 ">
                    <img src="/assets/images/propos1.jpg"  alt="propos1">
                </div>
                <div class="col-md-6 text-justify">
                    <p>Le service de Stras'Cook a été créé pour permettre de recevoir chez soi, autrement.
                        Notre talentueu chef vient chez vous et s'occupe de tout. Vous n'avez qu'à mettre les pieds
                        sous la table et profiter de vos convives, sans contrainte.</p>
                </div>
            <div class="col-md-6  p-5 text-justify">
                <p>Ma formation en école hôtelière, suivie de 7 années d'expérience auprès de chefs renommés et
                    de grandes tables, et déjà 20 années passées en tant que chef à domicile, me permettent de faire
                    face à tout type de demande pour 3 à 20 convives.</p>
            </div>
            <div class="col-md-6 justify-content-end">
                <img src="/assets/images/propos2.jpg"  alt="propos2">
            </div>
        </div>
    </div>
{% endblock %}